{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to the Flask app<h2>
    <h3>This is the home page for the Flask app<h3>
	<p><a href="/twilightImperiumRaceRandomizer" >Twilight Imperium Race Randomizer</a></p>
	<p><a href="/diceRoller" >Dice Roller</a></p>
	<p><a href="/cultureShipName" >Culture Ship Name Generator</a></p>
	<p><a href="/duneDiceRoller" >Dune Dice Roller</a></p>
	<p><a href="/whatShouldIPlay" >What Should I Play</a></p>
  </div>
{% endblock %}